body {
	background: #e8eff4;
	width: 1360px;
	margin: 0 auto;
	/* 	overflow: hidden; */
}

#headarea {
	width: 1360px;
	height: 80px;
	/* 	overflow: hidden; */
	/* 	background-color: blue; */
}

#menuarea {
	width: 1360px;
	height: 40px;
	/* 	overflow: hidden; */
	/* 	background-color: green; */
}

#funcarea {
	width: 1360px;
	height: 475px;
	overflow: hidden;
	/* 	background-color: gray; */
}

#funcmenu {
	width: 240px;
	height: 475px;
	/* 	background-color: olive; */
	float: left;
	overflow: hidden;
}

#funcpage {
	width: 1120px;
	height: 475px;
	background-color: #FCFCB4;
	float: left;
/* 	position: relative; */
}

#sendarea {
	margin-top: 30px;
	margin-left: 20px;
	width: 1060px;
	height: 430px;
	display: none;
}

td.color {
	background-color: #EFFDFF;
	width: 150px;
	text-align: right;
	/* 	border: 1px; */
	/* 	border-style: solid; */
}

td.color2 { /* 	background-color: #EFFDFF; */
	width: 120px;
	text-align: right;
}

table#sendtable td.white {
	background-color: white;
	width: 850px;
}

td.white1 {
	background-color: white;
	width: 440px;
}

td.whitex { /* 	background-color: white; */
	width: 220px;
}

.line_up {
	background: #cccccc; /*不能渐变的浏览器*/
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=white,
		endcolorstr=#195893, gradientType=0 ); /*IE*/
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=white,
		endcolorstr=#195893, gradientType=0 ); /*IE8*/
	background: -o-linear-gradient(top, white 0%, #195893 95%); /*opera*/
	background: -moz-linear-gradient(top, white, #195893 95%); /*firefox*/
	background: -webkit-gradient(linear, 0 0, 0 500, from(white),
		to(#195893) ); /*chrome, safari*/
}

.line_down {
	background: #cccccc; /*不能渐变的浏览器*/
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#195893,
		endcolorstr=white, gradientType=0 ); /*IE*/
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#195893,
		endcolorstr=white, gradientType=0 ); /*IE8*/
	background: -o-linear-gradient(top, #195893 0%, white 95%); /*opera*/
	background: -moz-linear-gradient(top, #195893, white 95%); /*firefox*/
	background: -webkit-gradient(linear, 0 0, 0 500, from(#195893),
		to(white) ); /*chrome, safari*/
}

.yuan {
	border: 2px solid #C0C0C0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	padding: 5px;
/* 	background: #FFF; */
	z-index: 2;
	width: 330px;
	height: 200px;
	behavior: url(css/iecss3.htc)
}

.opacity {
	filter: Alpha(opacity = 30);
	opacity: 0.3;
}

/* fixed不管如果滚动，他离浏览器边的距离是固定的 */
.fixeddragdiv { 
	z-index: 1000; 
	/* 可自定义top的值，离窗口底部的距离 */
	position: fixed;
	top: 100px;
	left: 540px;
	/* 可自定义top的值，离窗口底部的距离 */
	_position: absolute;
	_top: 100px;
	_left: 540px;
	/* 可自定义修改||后面的值，也是离窗口顶部的距离，和上面top的值保持一致*/
	_top: expression(eval(document.documentElement.scrollTop 
		+ (parseInt(this.currentStyle.marginTop, 10) || 100)));
	_left: expression(eval(document.documentElement.scrollLeft
	     + (parseInt(this.currentStyle.marginLeft, 10) || 540)));
}
.fixedopadiv { 
	z-index: 999; 
	position: fixed;
	top: 0px;
	left: 0px;
	_position: absolute;
	_top: 0px;
	_left: 0px;
	_top: expression(eval(document.documentElement.scrollTop 
		+ (parseInt(this.currentStyle.marginTop, 10) || 0)));
	_left: expression(eval(document.documentElement.scrollLeft
	     + (parseInt(this.currentStyle.marginLeft, 10) || 0)));
}