<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Contact">
	<insert id="insert" parameterType="Contact">
		insert into
		contact(zhname,phone) values(
			 #{zhname}, #{phone}
		)
	</insert>
	
	<!-- 查询指定id的User对象 -->
	<select id="queryById" parameterType="int" resultType="Contact">
		select * from contact where id = #{id}
	</select>
	
	<select id="queryByZhname" parameterType="map" resultType="Contact">
		select * from contact where userId = #{userId} and zhname = #{zhname}
	</select>
	
	<select id="queryLikeZhname" parameterType="map" resultType="Contact">
		select * from contact where userId = #{userId} and zhname like '%${zhname}%'
	</select>
	
	<select id="queryAll" resultType="Contact">
		select * from contact
	</select>
	
	
	<select id="deleteContacts">
		DELETE FROM contact
		WHERE id in
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>
	
	<!-- 更新 -->
	<update id="update" parameterType="Contact">
		update contact
		<set>
			<if test="zhname!=null">zhname=#{zhname},</if>
			<if test="phone!=null">phone=#{phone}</if>
		</set>
		<where>
			<if test="id!=null">id=#{id}</if>
		</where>
	</update>
</mapper>