<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Contact">
	<insert id="insert" parameterType="User">
		insert into
		user(departId,levelId,username,password,zhname,phone,role) values(
			#{departId}, #{levelId}, #{username}, #{password}, #{zhname},
			#{phone}, #{role}
		)
	</insert>
	
	<!-- 查询指定id的User对象 -->
	<select id="queryById" parameterType="int" resultType="User">
		select * from user where id = #{id}
	</select>
	
	<select id="queryByUsername" parameterType="string" resultType="User">
		select * from user where username = #{username}
	</select>
	
	<select id="queryAll" resultType="User">
		select * from user order by levelId
	</select>
	
	
	<select id="deleteUsers">
		DELETE FROM user
		WHERE id in
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>
	
	<!-- 更新 -->
	<update id="update_personal" parameterType="User">
		update user
		<set>
			<if test="password!=null">password=#{password},</if>
			<if test="phone!=null">phone=#{phone}</if>
		</set>
		<where>
			<if test="id!=null">id=#{id}</if>
		</where>
	</update>
	<update id="update_user" parameterType="User">
		update user
		<set>
			<if test="password!=null">password=#{password},</if>
			<if test="phone!=null">phone=#{phone}</if>
		</set>
		<where>
			<if test="id!=null">id=#{id}</if>
		</where>
	</update>
</mapper>