<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Message">
	<insert id="insert" parameterType="Message">
		insert into
		message(userId,receiver,content,timestamp) values(
		#{userId},
		#{receiver},
		#{content},
		#{timestamp}
		)
	</insert>
	
	<select id="queryById" parameterType="int" resultType="Message">
		select * from message where id = #{id}
	</select>
	
	<!--与MessageMapper接口中的queryByPhone方法对应，包括方法名和参数类型。SQL语句中以“#{}”的形式引用参数-->
	<select id="queryByPhone" parameterType="map" resultType="Message">
		select * from message where userId = #{userId} and receiver like '%${receiver}%'
	</select>
	
	<select id="queryByContent" parameterType="map" resultType="Message">
		select * from message where userId = #{userId} and content like '%${content}%'
	</select>
	
</mapper>